
<h1>Stupid Coaching</h1>

<div class= "question">
  <h3><%= params[:question]%></h3>
 <h3> -You</h3>
</div>
<div class="answer">
  <h3><%= @answer%></h3>
  <h3>- Your Coach</h3>

</div>

<p><%= link_to "Ask an other question", ask_path %></p>
