<h1> Stupid Coaching</h1>
<h2> Ask anything to your coach</h2>
<form action="/answer" method="get">
  <input type="text" name="question" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
